        body {
            margin: 40px auto;
            width: 70%;
            background-color: white;
        }

        .container {
            margin: 40px auto;
        }

        .container img {
            width: 100%;
        }

        .container p {
            font-size: 1.1em;
            color: #555;
            font-family: "Helvetica";
        }

        .container a {
            text-decoration: none;
            color: blue;
        }

        .container a:hover {
            text-decoration: underline;
        }

        .container ul {
            font-size: 1.1em;
            line-height: 1.1em;
            color: #555;
        }

        .container ul p {
            font-size: 1.1em;
            line-height: 1.1em;
            color: #555;
        }

        h1,
        h2,
        h3,
        h4 {
            font-family: "Arial", "Helvetica", "Verdana";
            font-weight: bold;
        }

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2.7em;
        }

        h3 {
            font-size: 2.3em;
        }

        h4 {
            font-size: 1.9em;
        }

        nav ul,
        footer ul {
            font-family: 'Helvetica', 'Arial', 'Verdana';
            padding: 0px;
            list-style: none;
            margin: 10px auto;
        }

        nav ul li,
        footer ul li {
            display: inline-block;
            margin-right: 20px;
        }

        nav ul li a,
        footer ul li a {
            color: #777;
        }

        /* nav and footer **/

        nav a {
            font-size: 1em;
            font-weight: bold;
            text-decoration: none;
        }

        footer {
            font-size: 0.8em;
            border-top: 1px solid #d5d5d5;
        }

        footer ul .contacts {
            float: right;
            font-weight: 500;

        }

        footer ul .website li {
            float: left;
            text-decoration: none;
            font-style: oblique;

        }

        /* Blog */

        ul.posts {
            margin: 20px auto 40px;
            font-size: 1.2em;
        }

        ul.posts li {
            list-style: none;
        }

        /* Resume */

        .resume {
                margin: 0px 0px 60px;
        }

        .resume h5 {
                font-size: 2em;
                font-weight: bold;
                font-family: "Arial", "Helvetica", "Verdana";
       }

        .resume address,
        .resume .download {
                font-family: 'Helvetica', 'Arial', 'Sans-Serif';
                line-height: 1em;
        }

        .resume address,
        .resume p {
        font-size: 1em;
        line-height: 1.2em;
        }

.resume .download {
    float: right;
    font-size: 1em;
    text-transform: uppercase;
}

.resume ul,
.resume p {
    line-height: 1.2em;
    font-size: 1em;
    font-family: "Arial", "Helvetica", "Verdana";

}
