        body {
            margin: 60px auto;
            width: 70%;
        }

        img {
          width: 100%;
        }

        p {
          font-family: "Arial", "Helvetica", "Verdana";
          font-size:1.2em;
          line-height: 1.2em;
          color: #666;
        }

        h1,
        h2,
        h3,
        h4 {
            font-family: "Arial", "Helvetica", "Verdana";
            font-weight: bold;
        }

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2.7em;
        }

        h3 {
            font-size: 2.3em;
        }

        h4 {
            font-size: 1.9em;
        }

        nav ul,
        footer ul {
            font-family: 'Helvetica', 'Arial', 'Verdana';
            padding: 0px;
            list-style: none;
            margin: 10px auto;
        }

        nav ul li,
        footer ul li {
            display: inline-block;
            margin-right: 20px;
        }

        nav ul li a,
        footer ul li a {
            color: #777;
        }

        /* nav and footer **/

        nav {
            font-size: 1.2em;
            font-weight: bold;

        }

        nav a {
          text-decoration:none;
        }



        footer {
            border-top: 1px solid #d5d5d5;
        }

        footer ul .contacts {
            font-size: 1em;
            float: right;
            font-weight: 500;

        }

        footer ul .website li {
            font-size: 1em;
            float: left;
            text-decoration: none;

        }

        /* Blog */

        ul.posts {
            margin: 20px auto 40px;
            font-size: 1.2em;
        }

        ul.posts li {
            list-style: none;
        }

        /* Resume */

        .resume {
                margin: 0px 0px 60px;
        }

        .resume h5 {
                font-size: 2em;
                font-weight: bold;
                font-family: "Arial", "Helvetica", "Verdana";
       }

        .resume address,
        .resume .download {
                font-family: 'Helvetica', 'Arial', 'Sans-Serif';
                line-height: 1em;
        }

        .resume address,
        .resume p {
        font-size: 1em;
        line-height: 1.2em;
        }

        .resume .download {
          float: right;
          font-size: 1em;
          text-transform: uppercase;
        }
