        body {
            margin: 40px auto;
            width: 70%;
        }
        
        .container {
            margin: 40px auto;
        }

        img {
            width: 100%;
        }

        p {
            font-size: 1.2em;
            color: #444;
            font-family: "Arial";
        }

        a {
            text-decoration: none;
            color: #0080ff;
        }

        a:hover {
            text-decoration: underline;
        }

        ul {
            font-size: 1em;
            line-height: 1em;
            color: #444;
        }

        ul p {
            font-size: 1em;
            line-height: 1.2em;
            color: #444;
        }

        h1, h2, h3, h4 { font-family: "Arial", "Helvetica", "Verdana"; font-weight: bold;}

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2.7em;
        }

        h3 {
            font-size: 2.3em;
        }

        h4 {
            font-size: 1.9em;
        }

        nav ul,
        footer ul {
            font-family: 'Helvetica', 'Arial', 'Sans-Serif';
            padding: 0px;
            list-style: none;
            font-weight: bold;
            margin:20px auto;
        }

        nav ul li,
        footer ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a,
        footer ul li a {
            color: #666;
        }

        /* nav and footer **/

        nav {
            font-size: 1em;
        }

        footer {
            border-top: 1px solid #d5d5d5;
            font-size: 0.7em;
            text-align: right;
        }
        
        footer .website {
            float: left;
            font-size: 1em;
            
        }

        /* Blog */

        ul.posts {
            margin: 20px auto 40px;
            font-size: 1.2em;
        }

        ul.posts li {
            list-style: none;
        }

        /* Resume */

        .resume {
            margin: 0px 0px 60px;
        }

        .resume h1 {
            font-size: 3em;
        }

        .resume h2 {
            font-size: 2em;
        }

        .resume address,
        .cv .download {
            font-family: 'Helvetica', 'Arial', 'Sans-Serif';
        }

        .resume address,
        .cv p {
            font-size: 1.2em;
        }

        .resume .download {
            float: right;
            font-size: .8em;
            text-transform: uppercase;
        }
