<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/resume">Resume</a></li>
	        		<li><a href="/portfolio">Portfolio</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:oungc1@uw.edu">oungc1@uw.edu</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/chrisoung1</a></li>
              <li><a href="https://linkedin.com/in/chris-oung/">www.linkedin.com/in/chris-oung</a></li>

				</ul>
			</footer>
		</body>
	</html>
