<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/projects/">Projects</a></li>
		        	<li><a href="https://drive.google.com/file/d/11KD4QkKtaVGDSB9OjL0bex2N55PkBEYn/view?usp=sharing">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:oungc1@uw.edu">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">GitHub</a></li>
              <li><a href="https://linkedin.com/in/chris-oung/">LinkedIn</a></li>

				</ul>
			</footer>
		</body>
	</html>
