<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
        
	<body>
		<nav>
			
	    	<ul>
	       		<li><a href="/">Home</a></li>
		 		<li><a href="/resume/">Resume</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/projects/">Projects</a></li>
	    	</ul>
			
		</nav>
			
    	<div class="container">
			
			{{ content }}
				
    	</div><!-- /.container -->
			
            
     <footer>	
		 
       	<ul>
	    	<li><a href="mailto:oungc1@uw.edu">Email</a></li>
			<li><a href="https://github.com/chrisoung1">GitHub</a></li>
            <li><a href="https://linkedin.com/in/chris-oung/">LinkedIn</a></li>
			<li><a href="/about/">About this website</a></li>
		</ul>
		 
    </footer>
</body>
</html>
