---
layout: default
---

<!--------------Layout for posts-------------->
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="jumbotron">
      <div class="container text-left">
      <h3 itemprop="name headline">{{ page.title | escape }}</h3> <br/>
      <small class="date">Posted on {{ page.date | date: "%b %-d, %Y" }} | By <a style="font-size: 12px;" href="{{ site.url }}/about/">{{ site.author }}</a></small>
      </div>
    </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
